<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="static/style.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<link rel="icon" type="image/vnd.microsoft.icon" href="static/favicon.ico">
<title>AJ Gonzalez: Developer, Enthusiast</title>
</head>
<body>
<div class="title">
AJ Gonzalez: Demos and Portfolio
</div>

<div class="row">
  <div class="column">
    <h2 class="text"><b>Python projects:</b></h2>
    <p class="text">Web Apps, Big Data, Serverless Functions, and Libraries for developers.</p>
    <ul class="text">
      <li> <a href="#">iGotMine:</a>
        <div class="smol">
          Realtime Crypto Mining Efficiency Calculator
        </div>
      </li>
      <li> <a href="https://github.com/AJ-Gonzalez/businesscard">MyCard:</a>
        <div class="smol">
          Small and classy Business Card app.
        </div>
      </li>
      <li> <a href="#">iGotMine:</a>
        <div class="smol">
          Realtime Crypto Mining Efficiency Calculator
        </div>
      </li>
    </ul>
  </div>
  <div class="column">
    <h2 class="text"><b>Flutter projects:</b></h2>
    <p class="text">Mobile applications for Android and iOS.</p>
    <ul class="text">
      <li></li>
    </ul>
  </div>
  <div class="column">
    <h2 class="text"><b>Experimental:</b></h2>
    <p class="text">Projects for learning and imporving; the odd, bizzare, fun, and fascinating stuff.</p>
    <ul class="text">
      <li></li>
    </ul>
  </div>
</div>
</body>
</html>
